.App {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  text-align: center;
  color: black;
  margin-top: 0px;
 }
 
 .App-header {
  background-color: black;
  min-height: 50px;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
  padding: 5px;
 }
 
 .Icon{
  background-color: black;
 }
 
 .App-header p {
  margin-top: 0;
 }
 
 pre {
  padding: 2rem;
 }
 
 footer {
  background-color: black;
  min-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 1vmin);
  color: white;
  padding: 1rem;
 }